body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  padding-left: 0;
  align-items: center;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.main-content {
  text-align: center;
  margin: 0 auto;
  width: 480px;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

nav {
  margin: 50px auto;
  width: 80%;
  margin-top: 20px;
}

.nav {
  color: #008080;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  position: relative;
}

.nav li {
  height: 20px;
}

.nav li:first-child {
  padding-left: 0;
}

.logout {
  font-weight: bold;
}

.user-nav {
  float: right;
  display: flex;
  align-items: center;
  font-weight: 300;
}

.avatar-nav {
  height: 20px;
  width: 20px;
  border-radius: 15px;
  margin: 0 5px 0 10px;
}

.avatar {
  width: 80px;
  height: 80px;
}

button {
  margin: 0px auto;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 240px;
  position: relative;
  outline: 0;
}

.button-default {
  padding: 6px;
  color: #008080;
}

.button-group .button-selected {
  color: #008080;
}

.button-group .button-default {
  padding: 10px;
  color: #000;
}

.card {
  height: 170px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

form {
  padding: 15px;
  text-align: left;
}

input {
  display: block;
  width: 95%;
  padding: 12px;
  margin: 12px 0;
}

.new-question {
  height: 272px;
}

.new-question button {
  width: 400px;
  margin-left: 22px;
  color: #008080;
  border: 1px solid #008080;
}

.card-body {
  padding: 12px;
}

.card-header {
  height: 40px;
  line-height: 40px;
  background: #008080;
  color: #fff;
  border-radius: 5px;
}

.card-content {
  width: 33%;
  display: inline-block;
  border-right: 1px solid #ccc;
}

.question-body {
  width: 62%;
  float: right;
  text-align: left;
  margin-left: 10px;
}

.tagline {
  font-weight: bold;
}

.question-text {
  margin: 12px 0;
}

.option-container {
  margin: 10px;
  border-radius: 6px;
  padding: 10px;
  border: 1px solid #c2c2c2;
  position: relative;
}

.option-container.selected {
  border-color: transparent;
  color: #fff;
  background: #008080;
}

.option {
  margin: 5px 0;
  cursor: pointer;
}

.option:hover {
  color: #008080;
}

.option-selected {
  color: #008080;
}

.question-detail {
  height: 250px;
}

.question-detail .card-left {
  padding-top: 45px;
  padding-bottom: 45px;
}

.users-list .card {
  padding: 10px;
}

.card-section {
  display: inline-block;
}

.card-section.section-1 {
  padding-top: 40px;
  padding-bottom: 40px;
  border-right: 1px solid #ccc;
}

.card-section.section-1,
.card-section.section-3 {
  width: 25%;
}

.card-section.section-3 {
  width: 24%;
  border: 1px solid #ccc;
  height: 85px;
  margin-top: 38px;
  vertical-align: top;
  background-color: #008080;
  color: white;
  border-radius: 5px;
}

.card-section.section-2 {
  vertical-align: top;
  width: 47%;
  text-align: left;
  margin-left: 10px;
}

.card-section.section-2 .user-name {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.card-section.section-2 .label {
  padding: 10px 0px;
  display: inline-block;
  width: 180px;
}

.total-score-header,
.total-score-count {
  font-weight: bold;
  padding: 5px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  width: 250px;
  margin: 10px;
}

.user-select div {
  padding: 18px;
}

.card.login {
  height: 250px;
}

.card.login button {
  margin-top: 30px;
  color: #008080;
  border-color: #008080;
}

.your-pick {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  display: block;
}

.option-container.selected {
  display: block;
}

.active {
  font-weight: bold;
  border-bottom: 2px solid #008080;
}

.user-info {
  padding-left: 200px;
  text-align: right;
  width: 40vw;
}
